@import url(https://fonts.bunny.net/css?family=inter:400);

:root {
	--bg-color: #ece286;
	--bg-box-color: rgba(255, 255, 255, 0.92);
	--text-color: #392622;
	--accent-color: #00c1b6;
	--text-shadow: 5px 5px 5px rgba(157, 157, 157, 0.21);
	--box-shadow: 10px 15px 0 rgba(0, 0, 0, 0.19);
	--button-text-color: #e36f84;
	--button-shadow-color: #dda272;
}

body {
	background: var(--bg-color);
	margin: 0;
	color: var(--text-color);
	font-family: "Inner", sans-serif;
}

section#style {
	width: 600px;
	margin: auto;
	background: var(--bg-box-color);
	padding: 1em;
	box-shadow: var(--box-shadow);
}

section#style h1 {
	text-align: center;
	text-transform: uppercase;
	color: #eb7187;
	margin-top: 0;
	font-size: 2rem;
	text-shadow: 5px 5px 5px rgba(157, 157, 157, 0);
}

section#style button {
	border: none;
	background: #ffef95;
	padding: 1em;
	margin: auto;
	text-align: center;
	display: block;
	font-size: 1rem;
	box-shadow: inset 0 -3px var(--button-shadow-color);
	color: var(--button-text-color);
	text-shadow: var(--text-shadow);
}

button:active {
	transform: scale(95%);
}

section p#prompts {
	text-align: center;
	color: var(--accent-color);
	text-shadow: var(--text-shadow);
}

a:link, a:link:active, a:visited, a:visited:active {
	color: var(--accent-color);
	text-shadow: var(--text-shadow);
}

a:hover {
	text-decoration: none;
	text-shadow: none;
}

.credit-par {
	display: flex;
	justify-content: center;
}

section#credit p {
	margin: .5rem;
	text-align: center;
}

section#credit {
	width: 600px;
	margin: 2em auto auto auto;
	background: var(--bg-box-color);
	padding: 1em;
	box-shadow: var(--box-shadow);
}
